<table>
    <tr>
        <td colspan="5">
            <h3>Elementos de la orden</h3>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <td>
            <a routerLink="/comida/{{item.comida.id}}">
                <img [src]="item.comida.urlImagen">
            </a>
        </td>
        <td>
            {{item.comida.nombre}}
        </td>
        <td>
            {{item.comida.precio | currency}}
        </td>
        <td>
            {{item.cantidad}}
        </td>
        <td>
            {{item.precio | currency}}
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <strong>Total :</strong>
        </td>
        <td>
            <strong>
                {{order.totalPrice | currency}}
            </strong>
        </td>
    </tr>
</table>
